<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>paj</display-name>
    <data-source>
        <name>jdbc/__default</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5433</port-number>
        <database-name>travel_app</database-name>
        <user>postgres</user>
        <password>1q2w3e</password>
        <property>
            <name>fish.payara.slow-query-threshold-in-seconds</name>
            <value>5</value>
        </property>
    </data-source>
</web-app>